/.idea/
/node_modules
/.vscode/
/.cache
/public
/.idea/aws.xml
.vscode/settings.json
.idea/codeStyles/Project.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/vcs.xml
.idea/testgrid-documentation.iml
.idea/modules.xml
.idea/misc.xml
.idea/.gitignore
